/*---------------------------------------------------------------*/

body{
    height: 100vh;
    background: radial-gradient(rgb(0, 125, 234), rgb(0, 26, 48) 90%);
    
}

.main-game{
    height: 100%;
    width: auto;
}

.box1, .box2{
    display: inline-block;
    
}

.box1{
    width: 450px;
    border-radius: 20px;
    margin: 4% 10% 4% 15%;
    background-image: url(media/fondogame.jpg);
    border-width: 1px;
    height: 560px;
    border-style: solid;
    box-shadow: 0 0 10px rgb(79, 198, 79), 0 0 20px #000000;
    position: relative;
}

.box-images > img{
    position: absolute;
    width: 70%;
    TOP: 85px;
    left: 71px;
}

.word-box{
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.letterbox{
    resize: none;
    opacity: 1;
    border: none;
    border-bottom: #3cc8b6 5px solid;
    display: inline-block;
    width: 35px;
    background-color: transparent;
    margin: 0 auto;
    color: white;
    font-size: 35px;
    height: 40px;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

.box2{
    width: 460px;
    vertical-align: top;
    margin: 4% 0;
    height: 80%;
}

.box2 > p {
    background-color: #000;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: white;
    margin-top: 10%;
    padding: 3%;
}

.buttons-letras{
    margin-top: 10%;
}

.key{
    border: solid 0.1rem #000;
    border-radius: 15%;
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    width: 3em;
    height: 3em;
    margin: 5px 0;
    cursor: pointer;
    font-size: 14px;
    box-shadow: inset -1px -1px 2px rgb(0 0 0 / 20%), 4px 5px 7px rgb(0 0 0 / 20%);
    transition: 0.5s all;
}

.key:hover{
    background-color: #3cc8b6;
    opacity: 4;
}

.buttons{
    margin-top: 10%;
    height: 10%;
}

.newgame-button, .back-button{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background-color: #3cc8b6;
    display: block;
    margin: 10px auto;
    width: 60%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
}

.newgame-button:hover{
    transform: scale(105%);
    background-color: #45dfca;
    box-shadow: inset -1px -1px 2px rgb(0 0 0 / 20%), 4px 5px 7px rgb(0 0 0 / 20%);
}

.back-button:hover{
    transform: scale(105%);
    background-color: #45dfca;
    box-shadow: inset -1px -1px 2px rgb(0 0 0 / 20%), 4px 5px 7px rgb(0 0 0 / 20%);
}

@media screen and (max-width:580px){
    .box1{
        width: 350px;
        height: 450px;
        background-image: url(media/fondogamemobile2.jpg);
        margin: 10% auto 10% auto;
        display: block;
    }

    .box2{
        width: 370px;
        display: block;
        margin: 0 auto;
        height: 500px;
        margin-bottom: 5%;
    }

    .buttons{
        height: 15%;
        margin-top: 5%;
    }
    
    .word-box{
        width: 315px;
    }

    .letterbox{
        width: 25px;
        font-size: 25px;
    }

    .box2 > p{
        font-size: 15px;
    }


    .box-images > img{
        top: 73px;
        left: 75px;
    }
}