body{
    font-family: 'Press Start 2P', cursive;
}

/*CSS for header
secondary color: rgb(79, 198, 79)*/

header{
    background-color: #3cc8b6;
    width: 100%;
}

.header{
    width: 60%;
    position: relative;
    margin: 0 auto 0 auto;
}

.logo-alura{
    margin: 20px;
    display: inline-block;
}

h1{
    display: inline-block;
    font-size: 25px;
    color: black;
    position: absolute;
    right: 0;
    top: 27px;
}

/*CSS for Main*/

.main{
    height: 594px;
    display: flex;
    align-items: center;
    background-image: url(media/fondo.jpg);
}

/* CSS for buttons*/

.buttons{
    width: 30%;
    height: auto;
    margin: auto auto;
}

.button1{
    height: 100px;
    width: 100%;
    margin: 10px;
    font-family: 'Press Start 2P', cursive;
    border-radius: 15px;
}

#txtaddword{
    resize: none;
    display: block;
    padding: 10px;
    margin: 20px auto 5px auto;
    width: 80%;
    background-color: transparent;
    border-radius: 8px;
    color: white;
    border-color: #3cc8b6;
    font-size: 1.1em;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.txtaddwordclass::placeholder{
    color: white;
    font-weight: bold;
    opacity: .8;
}

#buttont{
    width: 30%;
    height: 20%;
    font-size: 13px;
    color: black;
    font-family: 'Press Start 2P', cursive;
    background: #3cc8b6;
    cursor: pointer;
    margin-top: 5px;
    border-color: white;
    border-radius: 5px;
}

.button2{
    height: 60px;
    width: 100%;
    margin: 0 10px;
    font-family: 'Press Start 2P', cursive;
    border-radius: 15px;
}

.button1, .button2{
    border-style: dashed;
    border-color: white;
    border-spacing: 5px;
    cursor: pointer;
    transition: 1s all;
    background: linear-gradient(to top left, rgb(0, 87, 163) 50%, rgb(0, 32, 60) );
    color: white;
}

.button2:hover{
    transform: scale(105%);
}
.button1:hover{
    transform: scale(105%);
}

/*CSS Footer*/

footer{
    height: 75px;
    background-color: rgb(0, 32, 60);
    position: relative;
    text-align: center;
}

.linkedin{
    width: 20%;
    display: inline-block;
    cursor: pointer;
}

.github{
    width: 20%;
    display: inline-block;
    cursor: pointer;
}

.social-logos{
    width: 10%;
    position: absolute;
    top: 15px;
    right: 5%;
}

footer > img{
    width: 50px;
    padding: 5px;
    vertical-align: bottom;
}

.copyrigth{
    color: wheat;
    font-size: 13px;
    font-family: monospace;
}

@media screen and (max-width:580px){
    .header{
        width: 90%;
        height: 150px;
    }
    h1, .logo-alura{
        height: 60px;
        margin-top: 40px;
    }
    h1{
        font-size: 20px;
    }
    .buttons{
        width: 70%;
    }
    #buttont{
        width: 60%;
    }
    .social-logos{
        width: 30%;
    }
    footer{
        height: 100px;
    }
}